{% extends "base.html" %}
{% block head %}
    <!-- treetable http://ludo.cubicphuse.nl/jquery-treetable/ -->
    <!-- treetable ajax persist https://github.com/jughead/jquery-treetable-ajax-persist -->
    <link rel="stylesheet" href="/static/css/jquery.treetable.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.treetable.theme.default.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
{% endblock %}
{% block navbar_budget %} class="active"{% endblock %}
{% block content %}
    <form action="#" method="post" name="trans">
        {{ form.hidden_tag() }}
        <p>Start Date: {{ form.startdate(size=12, onchange='this.form.submit()', class='datepicker') }}
        End Date: {{ form.enddate(size=12, onchange='this.form.submit()', class='datepicker') }}
        <input type="submit" value="Get Trans"></p>
    </form>
    <table id="budget-table">
    <thead>
        <tr>
            {% for item in table.headings %}
            <th width=50>{{item}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in table.rows %}
        <tr data-tt-id="{{row.category.id}}" {% if row.category.parent %} data-tt-parent-id="{{row.category.parent.id}}" {% endif %}>
            <td class="nowrap"><a href="transactions/{{row.category.id}}">{{row.category.name}}</a></td>
            <td align="right">{{row.average}}</td>
            {% for item in row.data %}
            <td align="right"><a href="tritransactions/{{row.category.id}}/{{item[1]}}">{{item[0]|comma}}</a></td>
            {% endfor %}
            <td align="right">{{row.yearly|comma}}</td>
            <td align="right">{{row.total|comma}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script src="/static/js/jquery.treetable-ajax-persist.js"></script>
    <script src="/static/js/jquery.treetable.js"></script>
    <script src="/static/js/persist-min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#budget-table").agikiTreeTable({persist: true, persistStoreName: "files"});
    });
    </script>
{% endblock %}

