{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/jquery.treetable.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.treetable.theme.default.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.1', {'packages':['line']});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Price');
        data.addRows([
            {% for row in prices %}
            [new Date({{ row.date.year }}, {{ row.date.month-1 }}, {{row.date.day}}), {{ row.price }}],
            {% endfor %}
        ]);

        // Set chart options
        var options = { 'width':900, 'height':500 };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.charts.Line(document.getElementById('linechart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block navbar_transactions %} class="active"{% endblock %}
{% block content %}
    {% if form %}
    <form action="#" method="post" name="trans">
        {{ form.hidden_tag() }}
        <p>Start Date: {{ form.startdate(size=12, onchange='this.form.submit()', class='datepicker') }}
        End Date: {{ form.enddate(size=12, onchange='this.form.submit()', class='datepicker') }}
        <input type="submit" value="Get Prices"></p>
    </form>
    {% endif %}
    {% if prices %}
    <div id="linechart_div"></div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Price</th> 
            </tr>
        </thead>
        <tbody>
            {% for row in prices %}
            <tr>
                <td>{{ row.date }}</td> 
                <td>{{ row.price|money }}</td> 
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}

