{% extends "base.html" %}
{% block head %}
    <!-- treetable http://ludo.cubicphuse.nl/jquery-treetable/ -->
    <!-- treetable ajax persist https://github.com/jughead/jquery-treetable-ajax-persist -->
    <link rel="stylesheet" href="/static/css/jquery.treetable.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.treetable.theme.default.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
{% endblock %}
{% block navbar_portfolio %} class="active"{% endblock %}
{% block content %}
    <form action="#" method="post" name="trans">
        {{ form.hidden_tag() }}
        <p>Start Date: {{ form.startdate(size=12, onchange='this.form.submit()', class='datepicker') }}
        End Date: {{ form.enddate(size=12, onchange='this.form.submit()', class='datepicker') }}
        <input type="submit" value="Get Trans"></p>
    </form>
    <table id="portfolio-table">
    <thead>
        <tr>
            {% for item in table.headings %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in table.rows %}
        <tr data-tt-id="{{row.name}}" {% if row.parent %} data-tt-parent-id="{{row.parent}}" {% endif %}>
            <td style="white-space: nowrap"><a href="fundprices/{{ row.name }}">{{row.name}}</a></td>
            {% for v in row.data %}
            <td>{{v|money}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script src="/static/js/jquery.treetable-ajax-persist.js"></script>
    <script src="/static/js/jquery.treetable.js"></script>
    <script src="/static/js/persist-min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#portfolio-table").agikiTreeTable({persist: true, persistStoreName: "files"});
    });
    </script>
{% endblock %}


