{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/jquery.treetable.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.treetable.theme.default.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
    <link href="/static/css/transaction.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block navbar_budget %} class="active"{% endblock %}
{% block content %}
    <form action="#" method="post" name="trans">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>
                    <table>
                        <tr><td>Budget Date:</td><td>{{ form.bdate_1(size=12, class='datepicker') }}</td></tr>
                        <tr><td>Category:</td><td>{{ form.category_1() }}</td></tr>
                        <tr><td>Name:</td><td>{{ form.name_1() }}</td></tr>
                        <tr><td>Amount:</td><td>{{ form.amount_1() }}</td></tr>
                        <tr><td>Yearly:</td><td>{{ form.yearly_1() }}</td></tr>
                        <tr><td/><td><input type="submit" value="Split Transaction"></td></tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr><td>Budget Date:</td><td>{{ form.bdate_2(size=12, class='datepicker') }}</td></tr>
                        <tr><td>Category:</td><td>{{ form.category_2() }}</td></tr>
                        <tr><td>Name:</td><td>{{ form.name_2() }}</td></tr>
                        <tr><td>Amount:</td><td>{{ form.amount_2() }}</td></tr>
                        <tr><td>Yearly:</td><td>{{ form.yearly_2() }}</td></tr>
                        <tr></tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}


