{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/jquery.treetable.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.treetable.theme.default.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
    <link href="/static/css/transaction.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block navbar_budget %} class="active"{% endblock %}
{% block content %}
    <form action="#" method="post" name="trans">
        {{ form.hidden_tag() }}
        <table>
            <tr><td>Transaction Date:</td><td>{{ form.tdate(size=12, class='datepicker', disabled=True) }}</td></tr>
            <tr><td>Budget Date:</td><td>{{ form.bdate(size=12, onchange='$("input[type=submit]").removeAttr("disabled");', class='datepicker') }}</td></tr>
            <tr><td>Category:</td><td>{{ form.category(onchange='$("input[type=submit]").removeAttr("disabled");') }}</td></tr>
            <tr><td>Name:</td><td>{{ form.name(onchange='$("input[type=submit]").removeAttr("disabled");') }}</td></tr>
            <tr><td>Amount:</td><td>{{ form.amount(onchange='$("input[type=submit]").removeAttr("disabled");') }}</td></tr>
            <tr><td/><td><input type="submit" value="Update Transaction" disabled="disabled"></td></tr>
        </table>
    </form>
{% endblock %}

