{% extends "base.html" %}
{% block navbar_transactions %} class="active"{% endblock %}
{% block content %}
    {% if form %}
    <form action="#" method="post" name="trans">
        {{ form.hidden_tag() }}
        <p>Start Date: {{ form.startdate(size=12, onchange='this.form.submit()', class='datepicker') }}
        End Date: {{ form.enddate(size=12, onchange='this.form.submit()', class='datepicker') }}
        Category: {{ form.category(onchange='this.form.submit()') }}
        <!--<input type="submit" value="Get Trans"></p>-->
    </form>
    {% endif %}
    <table>
        <tr>
            {% for table in transactions %}
            <td valign="top"><table>
                {% for t in table %}
                <tr>
                    <td><a href="/transaction/{{t.id}}">{{ t.bdate }}</a></td> 
                    <td>{{ t.name }}</td> 
                    <td><a href="/transactions/{{ t.category.id }}">{{ t.category.name }}</a></td>
                    <td align="right">{{ t.amount }}</td> 
                {% endfor %}
                </tr>
            </table></td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
