{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/jquery.treetable.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery.treetable.theme.default.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.1', {'packages':['line']});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Amount');
        data.addRows([
            {% for k, v in graph.items() %}
            [new Date({{ k.year }}, {{ k.month-1 }}, 1), {{ v }}],
            {% endfor %}
        ]);

        // Set chart options
        var options = { 'width':900, 'height':500 };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.charts.Line(document.getElementById('linechart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block navbar_transactions %} class="active"{% endblock %}
{% block content %}
    <div id="linechart_div"></div>
    {% if form %}
    <form action="#" method="post" name="trans">
        {{ form.hidden_tag() }}
        <p>Category: {{ form.category(onchange='this.form.submit()') }}</p>
        <p>Start Date: {{ form.startdate(size=12, onchange='this.form.submit()', class='datepicker') }}
        End Date: {{ form.enddate(size=12, onchange='this.form.submit()', class='datepicker') }}</p>
        <!--<input type="submit" value="Get Trans"></p>-->
    </form>
    {% endif %}
    <table>
        <tr>
            {% for table in transactions %}
            <td valign="top"><table>
                {% for t in table %}
                <tr>
                    <td><a href="{{url_for('transaction', transaction_id=t.id)}}">{{ t.bdate }}</a></td> 
                    <td><a href="{{url_for('transactions', category_id=t.category.id, name=t.name|urlencode)}}">{{ t.name }}</a></td> 
                    <td><a href="{{url_for('transactions', category_id=t.category.id)}}">{{ t.category.name }}</a></td>
                    <td align="right">{{ t.amount }}</td> 
                    <td><input type="checkbox"{% if t.yearly %} checked{% endif %}></td>
                {% endfor %}
                </tr>
            </table></td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
